body {
  margin-bottom: 40px !important;
}
.huge-size {
  font-size: 2.5em;
}
.big-size {
  font-size: 1.2em;
}
.small-size {
  font-size: 0.8em;
}
.txt-center {
  text-align: center;
}
.txt-right {
  text-align: right;
}
.no-underline {
  text-decoration: none !important;
}
.underline {
  text-decoration: underline !important;
}
.hideRect {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
.fauxBold {
  font-weight: bold;
}
.hideMe {
  display: none;
}
.nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #0088CC !important;
  border-radius: 5px 5px 5px 5px !important;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #EEEEEE !important;
}
.nav > li.active > a {
  background-color: #0088CC !important;
  color: #FFFFFF !important;
}
@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapsing {
    overflow: hidden !important;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
}
.backgroundSizeCover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.textShadow1 {
  text-shadow: 0 2px 0 black, 1px 0 20px black, 0 1px 20px black;
}
.textShadow2 {
  text-shadow: 0 2px 0 black, 1px 0 10px black, 0 1px 10px black, -1px 0 10px black, 0 -1px 10px black;
}
.img-stellar {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 550px;
  position: relative;
}
.img-stellar span {
  display: block;
  font-size: 38px;
  line-height: 38px;
}
#img-stellar-club-plage {
  background-image: url("../../img/enfant-plage-ocean2.jpg");
}
#img-stellar-ecole-natation {
  background-image: url("../../img/ecole_natation.jpg");
}
#img-stellar-remise-forme {
  background-image: url("../../img/remise-en-forme-plage.jpg");
}
#img-stellar-ecole-natation span {
  padding-top: 300px;
  color: #fff;
  text-shadow: 0 2px 0 black, 1px 0 10px black, 0 1px 10px black, -1px 0 10px black, 0 -1px 10px black;
}
@media (max-width: 991px) {
  #img-stellar-club-plage,
  #img-stellar-ecole-natation,
  #img-stellar-remise-forme {
    text-align: center;
  }
  #img-stellar-club-plage span {
    padding-top: 300px;
    color: #95cae5;
    text-shadow: 0 2px 0 black, 1px 0 20px black, 0 1px 20px black;
  }
  #img-stellar-remise-forme span {
    padding-top: 300px;
    color: #fff;
    text-shadow: 0 2px 0 black, 1px 0 10px black, 0 1px 10px black, -1px 0 10px black, 0 -1px 10px black;
  }
}
@media (min-width: 992px) {
  #img-stellar-ecole-natation {
    text-align: center;
  }
  #img-stellar-club-plage span {
    position: absolute;
    color: #95cae5;
    max-width: 500px;
    left: 50%;
    margin-left: -400px;
    top: 280px;
    text-shadow: 0 2px 0 black, 1px 0 20px black, 0 1px 20px black;
  }
  #img-stellar-remise-forme span {
    position: absolute;
    color: #fff;
    max-width: 350px;
    left: 50%;
    margin-left: -400px;
    top: 200px;
    text-shadow: 0 2px 0 black, 1px 0 10px black, 0 1px 10px black, -1px 0 10px black, 0 -1px 10px black;
  }
}
section.content {
  padding: 0 10px;
}
section.content > header,
section.content > footer {
  margin: 30px auto !important;
}
section.content > header {
  text-align: center;
  padding-bottom: 0px !important;
}
section.content > header > h1 {
  color: #0088CC;
  padding-top: 50px;
  margin-top: -50px;
}
/*section#content-club-plage {
    background-image: url("../img/dessin-plage.png");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 70% 10px;
}*/
section#content-equipe,
section#content-partenariat {
  background-color: #F5F5F5;
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}
article h3 {
  text-decoration: underline;
  text-align: center;
}
article .columns {
  -moz-columns: 6 250px;
  -webkit-columns: 6 250px;
  columns: 6 250px;
}
article .columns p {
  hyphens: auto;
  text-align: justify;
  word-spacing: 0.3ex;
}
article .columns-small {
  -moz-columns: 6 200px;
  -webkit-columns: 6 200px;
  columns: 6 200px;
}
article.horaire th,
article.horaire td {
  border: none !important;
}
article.tarif h4 {
  text-align: center;
}
article h4.well {
  margin-top: 0;
}
section#content-club-plage article.tarif th:first-child,
section#content-club-plage article.tarif td:first-child {
  width: 20%;
}
section#content-club-plage article.tarif th,
section#content-club-plage article.tarif td {
  width: 16%;
}
section#content-club-plage article.tarif thead th {
  height: 58px;
}
section#content-club-plage article.tarif .hide {
  font-style: italic;
  text-decoration: underline;
}
ul.thumbnails li div.thumbnail {
  background-color: white !important;
}
ul.thumbnails li div.thumbnail img.img-thumbnail {
  border-radius: 0;
}
section#content-partenariat ul.thumbnails li div.thumbnail img {
  width: 100%;
  padding: 40px;
  max-width: 300px;
}
@media (max-width: 767px) {
  section#cont-equipe ul.thumbnails li div.thumbnail {
    height: 325px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  section#content-equipe ul.thumbnails li div.thumbnail {
    height: 305px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  section#content-equipe ul.thumbnails li div.thumbnail {
    height: 382px;
  }
  section#partenariat ul.thumbnails li img {
    max-width: 300px;
  }
}
@media (min-width: 1200px) {
  section#content-equipe ul.thumbnails li div.thumbnail {
    height: 382px;
  }
}
/* main class */
.logo-facebook span {
  background-image: url("../../img/logo-facebook.png");
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 20px;
}
.separator {
  border: 0 none;
  border-bottom: 1px solid #EEEEEE;
  margin: 20px 0 30px;
}
.well-blue {
  background-color: #D4EBF7;
  border-color: #95cae5;
}
.arrow-blue {
  display: block;
  background-image: url("../../img/arrow-blue.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 75px;
  height: 40px;
}
