{
    "extends": [ "eslint:recommended", "plugin:react/recommended", "react-app" ],
    "globals": {
        "google": true
    },
    "plugins": [ "react" ],
    "rules": {
        "comma-style": ["error"],
        "comma-dangle": ["error", "always-multiline"],
        "comma-spacing": ["error", { "before": false, "after": true }],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "newline-before-return": ["error"],
        "no-undefined": ["error"],
        "quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
        "quote-props": ["error", "always"],
        "valid-jsdoc": ["error", { "prefer": { "return": "returns" }, "requireParamDescription": false, "requireReturnDescription": false }],
        "space-before-function-paren": ["error", { "anonymous": "always", "named": "never" }]
    }
}
