.StandUpPaddle {
    .parallax {
        span {
            @include media-breakpoint-down(sm) {
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }

            @include media-breakpoint-up(md) {
                left: 45%;
                max-width: 350px;
                position: absolute;
                top: 150px;
            }
        }
    }
}
