@import "./variables";
@import "./helpers";

@import "bootstrap/scss/bootstrap.scss";

@import "./_components.BeachClub.scss";
@import "./_components.Fitness.scss";
@import "./_components.Navigation.scss";
@import "./_components.Partner.scss";
@import "./_components.StandUpPaddle";
@import "./_components.SwimmingSchool.scss";
@import "./_components.Team.scss";

section {
    footer {
        font-size: $h1-font-size;
        margin: 0 20px 20px;
        padding: 20px;
        text-align: center;
    }

    h1 {
        border-bottom: 1px solid $primary;
        color: $primary;
        margin: 0 20px 20px;
        padding: 20px;
        text-align: center;
    }
}

span.fa-arrow-right {
    line-height: $font-size-base;
    vertical-align: middle;
    font-size: 0.55rem;
}

.columns {
    @include media-breakpoint-up(sm) {
        column-count: 2;
        column-gap: 50px;
        column-rule-color: $light-blue;
        column-rule-style: solid;
        column-rule-width: 1px;
    }
}

.page-header {
    margin: ($page-header-margin * 2) 0 $page-header-margin;
    border-bottom: 1px solid $page-header-border-color;
    text-align: center;

    &.pb {
        padding-bottom: (($page-header-margin * 3) + 2);
    }
}

.parallax {
    background: no-repeat fixed center;
    background-size: cover;
    height: 550px;
    position: relative;

    span {
        color: $white;
        display: block;
        font-size: $h1-font-size;
        line-height: $h1-font-size;
        padding: 20px;
        text-shadow:
            0 2px 0 $real-black,
            1px 0 10px $real-black,
            0 1px 10px $real-black,
            -1px 0 10px $real-black,
            0 -1px 10px $real-black;
    }
}

.table.text-center {
    tbody, thead {
        td, th {
            text-align: center;
        }
    }
    tbody {
        th {
            text-align: left;
        }
    }
}

// Since Boostrap 4 beta, some elements have changed.
.btn-secondary {
    color: $blue;
    background-color: $white;
    border-color: $light-blue;
}
.btn-secondary:focus,
.btn-secondary:hover,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
    color: $blue;
    background-color: #e6e6e6;
    border-color: #a0d3ed;
}
.btn-secondary:focus,
.btn-secondary.focus {
    box-shadow: 0 0 0 0.1rem rgba(0, 85, 128, 0.25)
}
