@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "../../bower_components/fontawesome/less/font-awesome.less";
#elements { @import "../../bower_components/elements/elements.less"; }
@import "mixins.less";
@import "variables.less";

@import "tables.less";
@import "panels.less";


.page-header {
    & {
        text-align: center;
        padding-bottom: 0;

        h1 {
            color: @blue-dark;
            padding-top: 60px;
            margin-top: -60px;
        }
    }
    &&-big-padding {
        padding-bottom: 26.5px;
    }

    section > & {
        border-color: @blue-dark;
    }
}

.columns {
    & {
        margin-top: 40px;
        #elements > #content.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px);
    }
    &&-small {
        #elements > #content.columns(@colwidth: 200px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px);
    }

    p {
        hyphens: auto;
        text-align: justify;
        word-spacing: 0.3ex;
    }
}

.separator {
    border: 0 none;
    border-bottom: 1px solid @blue-light;
    margin: 20px 0 30px;
}

.fa {
    &&-chevron-right {
        font-size: 10px;
    }
}

footer {
    margin-bottom: 30px;

    .fa-arrow-circle-down {
        font-size: 45px;
    }
}


//////////////////////////////////////////

body {
    margin-bottom: 40px !important;
}

.huge-size {
    font-size: 2.5em;
}

.big-size {
    font-size: 1.2em;
}

.small-size {
    font-size: 0.8em;
}

.text-nounderline,
.no-underline {
    text-decoration: none !important;
}

.underline {
    text-decoration: underline !important;
}

.fauxBold {
    font-weight: bold;
}

.hideMe {
    .hidden();
}

// override h*
h1, h2, h3, h4, h5, h6 {
    font-weight: bold !important;
    .text-center();
}


// overwrite navigation
.nav {
    > li {
        > a {
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 5px;
            margin-bottom: 5px;
            color: #0088CC !important;
            #elements > #border.rounded(5px);
        }
        > a:hover, > a:focus {
            background-color: #EEEEEE !important;
        }
    }
    > li.active {
        > a {
            background-color: #0088CC !important;
            color: #FFFFFF !important;
        }
    }
}


.text-shadow-1 {
    #elements > #shadow.text(~"0 2px 0 black, 1px 0 20px black, 0 1px 20px black");
}

.text-shadow-2 {
    #elements > #shadow.text(~"0 2px 0 black, 1px 0 10px black, 0 1px 10px black, -1px 0 10px black, 0 -1px 10px black");
}

.img-stellar {
    background-size: cover;
    background-attachment: scroll;
    background-position: 50% 0;
    background-repeat: no-repeat;
    height: 550px;
    position: relative;
}

.img-stellar {
    span {
        display: block;
        font-size: 38px;
        line-height: 38px;
        color: #fff;
    }
}

#img-stellar-club-plage {
    background-image: url("../img/enfant-plage-ocean2.jpg");
    span {
        .text-shadow-1();
        color: #95cae5;

        @media (max-width: 991px) {
            padding-top: 300px;
        }

        @media (min-width: 992px) {
            position: absolute;
            max-width: 500px;
            left: 50%;
            margin-left: -400px;
            top: 280px;
        }
    }
}

#img-stellar-ecole-natation {
    background-image: url("../img/ecole_natation.jpg");
}

#img-stellar-remise-forme {
    background-image: url("../img/remise-en-forme-plage.jpg");
    span {
        .text-shadow-2();

        @media (min-width: 992px) {
            position: absolute;
            max-width: 350px;
            left: 50%;
            margin-left: -400px;
            top: 200px;
        }
    }
}

#img-stellar-stand-up-paddle {
    background-image: url("../img/stand-up-paddle.jpg");

    @media (min-width: 992px) {
        .text-center();
    }
    span {
        .text-shadow-2();

        @media (min-width: 992px) {
            position: absolute;
            left: 50%;
            margin-left: -110px;
            top: 200px;
        }
    }
}

#img-stellar-ecole-natation {
    span {
        // aucune contrainte d'écran pour cette image
        padding-top: 300px;
        .text-shadow-2();
    }

    @media (min-width: 992px) {
        .text-center();
    }
}

#img-stellar-remise-forme, #img-stellar-stand-up-paddle {
    span {
        .text-shadow-2();

        @media (max-width: 991px) {
            padding-top: 300px;
        }
    }
}

#img-stellar-club-plage, #img-stellar-ecole-natation, #img-stellar-remise-forme {
    @media (max-width: 991px) {
        text-align: center;
    }
}


// section
//section.content {
//    padding: 0 10px;
//    > header, > footer {
//        margin: 30px auto !important; // override class page-header
//    }
//    > header {
//        text-align: center;
//        padding-bottom: 0px !important; // override class page-header
//        > h1 {
//            color: #0088CC;
//            padding-top: 50px;
//            margin-top: -50px;
//        }
//    }
//
//}

#content-equipe,
#content-partenariat {
    background-color: #F5F5F5;
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

// article
article {
    h3 {
        text-decoration: underline;
    }
    // colonne
    h4.well {
        margin-top: 0;
    }
}

// overwrite class thumbnails
ul.thumbnails li div.thumbnail {
    background-color: white !important;
    img.img-thumbnail {
        border-radius: 0;
    }
}

#content-partenariat {
    .thumbnails {
        .thumbnail {
            //height: 382px;
            img {
                width: 100%;
                padding: 40px;
                max-width: 300px;
            }
        }
    }
}

#content-equipe {
    .panel {
        img {
            width: 128px;
            height: 128px;
            max-width: none;
        }
    }
}

// equivalence col-sm*
@media (min-width: 768px) and (max-width: 991px) {
    #content-equipe {
        .panel {
            height: 248px;
        }
    }
}

// equivalence col-md
@media (min-width: 992px) and (max-width: 1199px) {
    #content-equipe {
        .panel {
            height: 326px;
        }
    }
}

// equivalence col-lg
@media (min-width: 1200px) {
    #content-equipe {
        .panel {
            height: 225px;
        }
    }
}

/* main class */
.logo-facebook span {
    background-image: url("../img/logo-facebook.png");
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 20px;
}

.well-blue {
    background-color: #D4EBF7;
    border-color: #95cae5;
}
