@import "./variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/font-awesome/scss/font-awesome";

@import "./app/BeachClub/BeachClub";
@import "./app/Fitness/Fitness";
@import "./app/Navigation/Navigation";
@import "./app/Partner/Partner";
@import "./app/StandUpPaddle/StandUpPaddle";
@import "./app/Team/Team";
@import "./app/SwimmingSchool/SwimmingSchool";

section {
    footer {
        font-size: $font-size-h1;
        margin: 0 20px 20px;
        padding: 20px;
        text-align: center;
    }

    h1 {
        border-bottom: 1px solid $brand-primary;
        color: $brand-primary;
        margin: 0 20px 20px;
        padding: 20px;
        text-align: center;
    }

    h2 {
        text-decoration: underline;
    }
}

span.fa-arrow-right {
    line-height: $font-size-base;
    vertical-align: middle;
    font-size: 0.55rem;
}

.columns {
    @include media-breakpoint-up(sm) {
        column-count: 2;
        column-gap: 50px;
        column-rule-color: $light-blue;
        column-rule-style: solid;
        column-rule-width: 1px;
    }
}

.page-header {
    margin: ($page-header-margin * 2) 0 $page-header-margin;
    border-bottom: 1px solid $page-header-border-color;
    text-align: center;

    &.pb {
        padding-bottom: (($page-header-margin * 3) + 2);
    }
}

.parallax {
    background: no-repeat fixed center;
    background-size: cover;
    height: 550px;
    position: relative;

    span {
        color: $white;
        display: block;
        font-size: $font-size-h1;
        line-height: $font-size-h1;
        padding: 20px;
        text-shadow: 0 2px 0 $real-black, 1px 0 10px $real-black, 0 1px 10px $real-black, -1px 0 10px $real-black, 0 -1px 10px $real-black;
    }
}

.table.text-center {
    thead th {
        text-align: center;
    }
}
